#titulo {
    color: red;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 5px;
    border-right: 15px;
}

.seccion {
    color: brown;
}

/*div h3 {
     color: #353030;
     font-size: 24px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
*/

/*esto es un comentario*/
